/*
SitePoint Book CSS.
Author: Alex Walker based on Rachel Andrew's initial work
Details: A stylesheet for formatting SitePoint books. This stylesheet imports the other CSS and can also be used to add specific things for the current project. */
/* import other stylesheets */
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+git+http+json+php+jsx+sass+scss&plugins=line-numbers */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin|Raleway");
/* line 8, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* line 31, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

/* line 37, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  /* line 44, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
/* line 51, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

/* line 57, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
/* line 63, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

/* line 69, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

/* line 76, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.punctuation {
  color: #999;
}

/* line 80, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.namespace {
  opacity: .7;
}

/* line 84, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

/* line 94, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

/* line 103, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

/* line 112, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

/* line 118, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.function {
  color: #DD4A68;
}

/* line 122, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

/* line 128, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.important,
.token.bold {
  font-weight: bold;
}

/* line 132, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.italic {
  font-style: italic;
}

/* line 136, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.token.entity {
  cursor: help;
}

/* line 140, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

/* line 146, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
pre.line-numbers > code {
  position: relative;
  white-space: inherit;
}

/* line 151, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 168, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

/* line 174, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_prism.scss */
.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

/* defining things that might change from book to book */
/* path to book folder */
/* page sizing information */
/* typography
fonts are imported in _fonts.scss -- but
*/
/* fonts as a Sass Map so we can do things like
font-family: font(body, family);
 */
/* colors as a Sass Map so we can do things like
color: color(theme);
color: color(theme, orange);
color: color(backgrounds, codeblock); */
/* line 95, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
html {
  font-size: 12pt;
  line-height: 18pt;
}

/* line 100, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
body, .article {
  font-family: 'Libre Franklin', serif;
  font-weight: 300;
  color: #333;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 700px;
  margin: auto;
}

/* line 109, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
p {
  font-size: 1rem;
  font-family: 'Libre Franklin', serif;
  line-height: 1.5rem;
  color: #333;
}

/* line 115, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
h1, .h1 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 2.4375rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 123, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
h2, .h2 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 1.5625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

/* line 131, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
h3, .h3 {
  font-family: Raleway, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 138, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
h4, .h4 {
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 144, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

/* line 150, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

/* line 154, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
/* line 160, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

/* line 164, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
a, b, i, strong, em, small, code {
  line-height: 0;
}

/* line 167, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 172, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
sup {
  top: -0.5em;
}

/* line 175, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
sub {
  bottom: -0.25em;
}

/* line 179, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
ol li {
  line-height: 2.25rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-increment: step-counter;
}

/* line 188, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
ol li::before {
  content: counter(step-counter);
  margin: .25rem 1rem 0 0;
  display: block;
  float: left;
  font-size: 80%;
  background-color: #00c8c8;
  background: #ddeeff;
  color: #778899;
  font-weight: bold;
  width: 1.75rem;
  line-height: 1.75rem;
  border-radius: 50%;
  text-align: center;
}

/* GRID  */
/* line 219, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
body {
  position: relative;
}

/* line 222, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
body:active:after {
  display: none;
}

/* line 226, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_config.scss */
body:after {
  background: linear-gradient(to bottom, rgba(200, 225, 255, 0.6) 1px, transparent 1px);
  background-size: 18pt 18pt;
  bottom: 0;
  margin-top: 0px;
  content: '';
  display: block;
  height: auto;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 9999;
}

/* Mixins for common things - to change something everywhere do it here. */
/* formatting */
/* tables with a nod to this post: http://jennifermann.ghost.io/setting-fixed-table-widths-using-sass/ */
/* define a page
 */
@page {
  size: 8in 10in;
}

@page :left {
  margin: 22mm 25mm 15mm 20mm;
}

@page :right {
  margin: 22mm 20mm 15mm 25mm;
}

/* styles for the right hand spread
top right the content of the current chapter then the page number */
@page :right {
  @top-right {
    content: string(doctitle);
    margin: 40pt 0 40pt 0;
    font-size: 9pt;
    font-family: "Libre Franklin";
  }
  @top-right-corner {
    content: counter(page);
    margin: 40pt 0 40pt 0;
    padding-left: 10pt;
    font-size: 9pt;
    font-family: "Libre Franklin";
  }
}

/* styles for the left hand spread
top left book title and current page */
@page :left {
  @top-left-corner {
    content: counter(page);
    margin: 40pt 0 40pt 0;
    padding-right: 9pt;
    font-size: 9pt;
    font-family: "Libre Franklin";
  }
  @top-left {
    margin: 40pt 0 40pt 0;
    content: "Your First Week With React";
    font-size: 9pt;
    font-family: "Libre Franklin";
  }
}

/* front matter has a different numbering style */
@page front_matter:right {
  @top-right-corner {
    content: counter(page, lower-roman);
  }
}

@page front_matter:left {
  @top-left-corner {
    content: counter(page, lower-roman);
  }
}

/* add this class to any front matter page that should have roman numeral style numbering */
/* line 69, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.set-front-matter {
  page: front_matter;
}

/* line 71, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.preface, .chapter, .page-frontmatter, .page-about, .page-dedication, .page-toc, .appendix {
  page-break-before: always;
  counter-reset: figurenum tablenum footnote;
}

/* line 76, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.page-count-restart {
  counter-reset: page 1;
}

/* increment chapter counter */
/* line 81, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.chapter {
  counter-increment: chapternum;
}

/* line 85, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.appendix {
  counter-increment: appendixnum;
}

/* reset chapter and figure counters on the body */
/* line 91, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
body {
  counter-reset: chapternum appendixnum figurenum tablenum footnote;
}

/* get the title of the current chapter - this will be the content of the h1
reset figure counter as figures start from 1 in each chapter */
/* line 97, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
h1 {
  string-set: doctitle content();
}

/* line 101, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.appendix h1::before {
  content: "Appendix " counter(appendixnum, upper-alpha) ": ";
}

/* increment and display figure counter */
/* line 106, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
figcaption:before {
  counter-increment: figurenum;
  content: counter(chapternum) "-" counter(figurenum) ". ";
}

/* increment and display table counter */
/* line 112, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
table caption:before {
  counter-increment: tablenum;
  content: counter(chapternum) "." counter(tablenum) ". ";
}

/* footnotes */
/* line 118, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.fn {
  float: footnote;
  footnote-style-position: inside;
  font-family: "Libre Franklin";
  font-weight: normal;
  font-size: 9pt;
  line-height: 1.5;
}

/* line 124, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.fn {
  counter-increment: footnote;
}

/* this is the marker for the footnote in the content. It is generated by Prince. */
/* line 129, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.fn::footnote-call {
  content: counter(footnote);
  font-size: 9pt;
  vertical-align: super;
  line-height: none;
}

/* this is the number of the footnote in the footnotes section of the page. */
/* line 137, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.fn::footnote-marker {
  font-size: 9pt;
  vertical-align: super;
  line-height: none;
}

@page {
  @footnotes {
    border-top: 0.6pt solid black;
    padding-top: 8pt;
  }
}

/* front matter bits */
/* line 151, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.page-frontmatter {
  font-family: "Libre Franklin";
  font-weight: normal;
  font-size: 9pt;
  line-height: 1.5;
}

/* line 155, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.small-centered {
  text-align: center;
}

/* line 159, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.copyright {
  text-align: center;
}

/* line 163, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.credits {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  column-count: 2;
}

/* line 170, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.credits li {
  margin: 0;
  list-style: none;
}

/* line 175, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.page-dedication {
  text-align: center;
}

/* line 180, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
.page-dedication .dedication {
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10em;
}

/* table of contents */
/* line 192, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13pt;
}

/* line 199, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li.levelH1 {
  margin-top: 20pt;
  font-size: 17pt;
  font-family: "Raleway";
  font-weight: bold;
}

/* line 206, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li.levelH2 {
  padding-left: 30pt;
  font-family: "Raleway";
  font-size: 12pt;
}

/* line 212, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li.levelH3 {
  padding-left: 60pt;
  font-family: "Raleway";
  font-size: 12pt;
}

/* Insert the string Chapter followed by generated chapter counter NOT before Preface. */
/* line 219, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li.levelH1:not(.toc-appendix) a:not([href^="#preface"])::before {
  content: "Chapter " target-counter(attr(href), chapternum) ":";
  color: #777;
  font-size: 17pt;
  font-weight: 600;
  padding-right: 20pt;
}

/* Insert the string Appendix followed by generated chapter counter before appendix. */
/* line 228, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li.levelH1.toc-appendix a::before {
  content: "Appendix " target-counter(attr(href), appendixnum, upper-alpha);
  color: #333;
  font-size: 17pt;
  padding-right: 20pt;
}

/* create page numbers using target-counter in the TOC */
/* line 236, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc a::after {
  content: leader(".") target-counter(attr(href), page);
  font-size: 13pt;
}

/* the preface uses lower-roman*/
/* line 242, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc .toc-preface a::after {
  content: leader(".") target-counter(attr(href), page, lower-roman);
}

/* line 247, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li {
  line-height: 2;
  list-style: none;
}

/* line 252, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li code {
  font-size: 90%;
}

/* line 256, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
ul.toc li a {
  text-decoration: none;
}

/* line 260, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
a {
  color: #000;
}

/* add page number to cross references */
/* line 265, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-setup.scss */
a.xref:after {
  content: " (page " target-counter(attr(href, url), page) ")";
}

/* line 1, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
body {
  font-family: "Libre Franklin";
  font-weight: normal;
  font-size: 12pt;
  line-height: 1.5;
}

/* line 5, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
code,
pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

/* stop things breaking in weird places */
/* line 13, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
h1,
h2,
h3,
h4 {
  page-break-after: avoid;
  page-break-inside: avoid;
}

/* line 22, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
h1 + p,
h2 + p,
h3 + p {
  page-break-before: avoid;
}

/* line 28, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.chapter-page {
  page-break-inside: avoid;
  page-break-after: always;
}

/* line 33, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
table,
figure,
.box {
  page-break-inside: avoid;
}

/* line 41, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.chapter {
  padding-top: 0px;
  page-break-before: always;
}

/* line 46, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.ch-head {
  font-size: 21pt;
  position: absolute;
  width: 30%;
  font-family: 'Raleway';
  color: #9ab;
  font-weight: 600;
  margin-top: 25rem;
  right: 0%;
  text-align: center;
  page-break-after: avoid;
}

/* line 61, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.ch-head::before {
  content: counter(chapternum);
  font-size: 120pt;
  color: #445266;
  line-height: 100%;
  vertical-align: middle;
  position: absolute;
  top: 2rem;
  height: 1.5em;
  left: 0;
  text-align: center;
  width: 100%;
}

/* line 77, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.ch-head + h1 {
  margin-top: 28rem;
  font-size: 48px;
  position: relative;
  float: right;
  border-right: 1px solid #999;
  line-height: 100%;
  color: #334455;
  margin-right: 30%;
  text-align: right;
  padding-right: 2rem;
  position: relative;
  page-break-before: never;
  page-break-after: avoid;
}

/* line 94, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.ch-head + h1 + h3 {
  margin: 0 30% 3rem 0;
  font-size: 24px;
  line-height: 100%;
  padding-right: 2rem;
  color: #9ab;
  letter-spacing: 0.5px;
  text-align: right;
  page-break-before: avoid;
  page-break-after: always;
}

/* line 109, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.ch-head + h1 + h3 + * {
  clear: both;
  page-break-before: always;
}

/*
h1 {

    font-family: font(title, family);
    font-weight: bold;
    font-size: 21pt;
    color: color(theme, black);
    display: inline-block;
    //border-bottom: 1px solid color(theme,orange);
    margin-left: -30pt;
    padding: 0 0 0 30pt;
    line-height: .8;
}

h2 {
    font-family: font(title, family);
    font-weight: bold;
    font-size: 17pt;
    color: color(theme, black);
    display: inline-block;
    //border-bottom: 1px solid color(theme,orange);
    margin-left:-30pt;
    margin-bottom: 0;
    padding: 0 0 0 30pt;
    line-height: .8;
}
*/
/* line 143, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
h2 code {
  font-size: 90%;
}

/* line 147, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.front h2 {
  color: #333;
  padding: 0;
  margin: 0;
  border: none;
  display: block;
  line-height: 1.5;
}

/* line 156, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
.front h2 + p {
  margin-top: 0;
  padding-top: 0;
}

/*
h3 {
  color: color(theme, black);
  margin-bottom: 0;
}

h3, h4, h5, h6 {
    font-family: font(title, family);
    font-weight: bold;
    font-size: 14pt;
}
*/
/* lists */
/* line 176, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
ul,
ol {
  padding-left: 0;
  margin-left: 0;
}

/* line 182, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
li {
  margin-left: 20px;
}

/* line 186, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
ul li {
  list-style-image: url(../images/bullet.png);
}

/* line 190, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
dt {
  float: left;
  clear: left;
  width: 90pt;
  font-weight: bold;
}

/* line 197, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
dd {
  margin: 0 0 0 90pt;
}

/* line 201, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_typography.scss */
dt code {
  font-weight: bold;
}

/* tables */
/* line 1, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box {
  background-color: #f5faff;
  margin: 1.5rem 0 1.5rem 0rem;
  position: relative;
  z-index: 1;
  border: 1px #ebf2fa solid;
  border-width: 0 1px 1px 1px;
  border-radius: 25px;
}

/* line 11, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box h4 {
  background-color: #ebf2fa;
  padding: 0.2em 0.5em;
  margin: 1.5rem 0 0.75rem 0;
  line-height: 1.95rem;
  border-radius: 25px;
  color: #345;
}

/* line 21, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box .body {
  font-size: 9pt;
  padding: 0 2rem;
}

/* line 27, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box .body p {
  margin: 0;
  padding: 0 0 0.75rem 0;
  line-height: 1.5rem;
  font-weight: 300;
}

/* line 34, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.tip h4,
.box.codepen h4,
.box.note h4,
.box.attention h4,
.box.warning h4 {
  padding-left: 3rem;
}

/* line 42, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.tip .body,
.box.note .body,
.box.codepen .body,
.box.attention .body,
.box.warning .body {
  padding-left: 3rem;
}

/* line 50, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.tip:before {
  background: url(../images/box-tip.svg);
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  display: block;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 55, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.note:before {
  background: url(../images/box-note.svg);
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  display: block;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 60, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.attention:before {
  background: url(../images/box-attention.svg);
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  display: block;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 65, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.warning:before {
  background: url(../images/box-warning.svg);
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  display: block;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
  position: absolute;
}

/* line 70, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.box.codepen:before {
  background: url(../images/box-codepen.svg);
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  display: block;
  background-size: 2.25rem 2.25rem;
  background-repeat: no-repeat;
  position: absolute;
}

/* code*/
/* line 76, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
figure {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* line 83, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.codeblock {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.2em 0.5em 0;
}

/* line 89, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.codefig code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-line;
}

/* line 96, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.codefig figcaption {
  font-size: 8pt;
  font-weight: bold;
  text-align: right;
  font-family: "Libre Franklin";
  padding: 0.2em 0.5em;
  margin: 0;
  height: 1rem;
  background-color: #eae4e1;
  margin-bottom: 0;
}

/* line 109, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
pre[class*="language-"] {
  padding: 1.5rem;
  margin: 0 0 1.5rem 0;
  overflow: auto;
}

/* tables */
/* line 116, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
table {
  border-collapse: collapse;
  margin-top: 1em;
}

/* line 121, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
table caption {
  font-weight: bold;
  text-align: left;
  font-size: 12pt;
  padding-bottom: 5pt;
}

/* line 128, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
table tbody {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 134, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
table thead {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* line 140, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
th {
  background-color: #d6deeb;
  padding: 0.3em;
  text-align: left;
}

/* line 146, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
td {
  padding: 0.3em;
  vertical-align: top;
}

/* line 151, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.table-striped tr:nth-child(2n) {
  background-color: #ededdd;
}

/* figures*/
/* line 156, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
img {
  max-width: 100%;
}

/* line 161, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.imagefig {
  text-align: center;
}

/* line 166, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.imagefig img {
  display: block;
  max-width: 100%;
}

/* line 171, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.imagefig figcaption {
  font-size: 8pt;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  font-family: "Libre Franklin";
}

/* other images */
/* line 180, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.image-inline {
  max-width: 100%;
}

/* line 184, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.image-left {
  float: left;
  margin: 0 10pt 10pt 0;
}

/* line 189, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.image-right {
  float: right;
  margin: 0 0 10pt 10pt;
}

/* line 194, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.image-center {
  display: block;
  margin: 0 auto;
}

/* line 199, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.image-left + p, .image-right + p {
  margin-top: 0;
}

/*
.chapter-page{
   page-break-inside: avoid;
    page-break-after: always;
    h1 {
        width:65%;
    }
}*/
/* line 211, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_components.scss */
.block {
  page-break-inside: avoid;
  page-break-after: always;
}

/* This file is for over-rides for generated CSS we don't want to change directly- chiefly Prism at this stage - 
 Alex Walker
*/
/* line 5, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_overrides.scss */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: rgba(255, 255, 255, 0);
}

@media screen {
  /* line 3, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_page-fake.scss */
  body {
    width: 7in;
    outline: 1px orange dashed;
    padding: .5in;
  }
}

/* add things here specific to this book */
/* classes to control column width of tables*/
/* line 22, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/book.scss */
.table-3-col {
  table-layout: fixed;
  width: 100%;
}

/* line 71, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_lib.scss */
.table-3-col th, .table-3-col td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 62, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_lib.scss */
.table-3-col th:nth-child(1) {
  width: 20% 40% 40%;
}

/* line 26, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/book.scss */
.table-5-col {
  table-layout: fixed;
  width: 100%;
}

/* line 71, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_lib.scss */
.table-5-col th, .table-5-col td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 62, /Users/alexmwalker/Sites/Books/reactant1/src/docs/assets/scss/_lib.scss */
.table-5-col th:nth-child(1) {
  width: 20% 20% 20% 20% 20%;
}

/*# sourceMappingURL=../css/book.map */